@import "./setup";


body, h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    background-color: #d1dfe0;
}

h1 {
    font-size: 2.4rem;
}

.app {
    padding: 20px;
}

@import "./typeDisplay";
@import "./argumentDisplay";
@import "./ruleButtonArea";
@import "./ruleButton";